<template>
  <div class="order">
    <h1>{{title}}</h1>
    <div v-if="orders && orders.length" class="buttons">
      <button type="button" v-on:click="finalize()">Submit</button>
      <button type="button" v-on:click="cancel()">Cancel</button>
    </div>
    <div class="order-content">
      <div class="order-breakdown">
        <template v-for="order in orders">
          <div class="drink-order">
            <span class="drink-name"><strong>{{order.getName()}}</strong></span>
            <span class="drink-price">${{order.getPrice()}}</span>
          </div>
          <ul>
            <li v-for="modifierOrder in order.modifierOrderList.orders">
              <div class="drink-order">
                <span class="drink-modifier-name">
                  {{modifierOrder.getName()}}
                  <i v-if="modifierOrder.canChoosePortion()"> x {{modifierOrder.getPortion()}}</i>
                </span>
                <span class="drink-modifier-price">${{modifierOrder.getTotalPrice()}}</span>
              </div>
            </li>
          </ul>
        </template>
      </div>
      <div v-if="orders && orders.length" class="order-total">
        <span class="order-total-name"><strong>Total</strong></span>
        <span class="order-total-price">${{getTotalPrice()}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'drink-orders',
  props: ['orders', 'onFinalize', 'onCancel'],
  data () {
    return {
      title: 'Order Summary'
    }
  },
  methods: {
    getTotalPrice: function () {
      var totalPrice = 0
      this.orders.forEach(function (order) {
        totalPrice += order.getTotalPrice()
      })
      return totalPrice
    },
    finalize: function () {
      this.onFinalize()
    },
    cancel: function () {
      this.onCancel()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>

h1, h2 {
  font-weight: normal;
}

.buttons {
  height: 3rem;
  padding-top: 15px;

  button {
    background-color: white;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    height: 2.5rem;
    padding: 10px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.order {
  padding: 20px;
}

.drink-order {
  display: flex;
  flex-direction: row;

  .drink-name {
    flex-basis: 80%;
  }

  .drink-price {
    flex-basis: 20%;
    text-align: right;
  }

  .drink-modifier-name {
    flex-basis: 80%;
    padding-left: 10px;
  }

  .drink-modifier-price {
    flex-basis: 20%;
    text-align: right;
  }
}

.order-total {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  border-top: 3px solid black;

  .order-total-name {
    flex-basis: 80%;
  }

  .order-total-price {
    flex-basis: 20%;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .order-content {
    font-size: 1.5rem;
  }

  .buttons {
    height: 4.5rem;

    button {
      font-size: 2rem;
      width: 49%;
      height: 4rem;
    }
  }
}
</style>
