<template>
  <div class="menu-modifier-content">
    <div class="buttons">
      <button type="button" v-on:click="addOrder()">Add order</button>
      <button type="button" v-on:click="resetOrder()">Reset</button>
    </div>
    <div v-if="base">
      <template v-for="modifierSpec in base.modifierSpecs">
        <div><strong>{{ modifierSpec.name }}</strong><strong v-if="modifierSpec.isRequired">*</strong></div>
        <ul>
          <template v-for="type in modifierSpec.types">
            <li class="modifier-item" v-for="order in orderListByType[type]">
              <span class="modifier-item_selection" v-if="modifierSpec.canMix">
                <input type="checkbox" :id="order.product.id"
                  :value="order.product.id" v-model="order.selections"/>
              </span>
              <span class="modifier-item_selection" v-if="!modifierSpec.canMix">
                <input type="radio" :id="order.product.id"
                  :value="order.product.id" v-model="order.selection"
                  v-on:change="onRadioChange(modifierSpec.types, order)"/>
              </span>
              <span class="modifier-item_label">
                <span class="modifier-item-label_name">{{order.product.name}}</span>
                <span class="modifier-item-label_price">${{order.product.price}}</span>
              </span>
              <span class="modifier-item_portion" v-if="modifierSpec.canChoosePortion">
                <button type="button" class="minus" v-on:click="order.decrementPortion()">-</button>
                <span>{{ order.portion }}</span>
                <button type="button" class="plus" v-on:click="order.incrementPortion()">+</button>
              </span>
            </li>
          </template>
        </ul>
      </template>
    </div>
  </div>
</template>

<script>
import { default as ModifierApi } from '../../apis/modifier.js'
import { default as ModifierOrder } from '../models/modifierOrder.js'

export default {
  name: 'drink-modifier-menu',
  props: ['base', 'onAddOrder'],
  data () {
    return {
      modifierApi: new ModifierApi(),
      orderListByType: {} // each key type contains an array of orders
    }
  },
  mounted () {
    this.fetchModifiers()
  },
  watch: {
    base: function (val) {
      this.fetchModifiers()
    }
  },
  methods: {
    fetchModifiers: function () {
      if (this.base) {
        var that = this
        var applicableTypes = []

        // List unique applicable modifier types
        this.base.modifierSpecs.forEach(function (modifierSpec) {
          modifierSpec.types.forEach(function (type) {
            applicableTypes.push(type)
          })
        })

        // Fetch all modifier by types
        this.modifierApi.getByType(applicableTypes, function (modifiers) {
          // build modifier list grouped by modifier type first to guide order list
          var modifierListByType = {}
          modifiers.forEach(function (modifier) {
            if (!modifierListByType[modifier.type]) {
              modifierListByType[modifier.type] = [modifier]
            } else {
              modifierListByType[modifier.type].push(modifier)
            }
          })

          // build order list grouped by modifier type (structured as modifier list)
          var orderListByType = {}
          that.base.modifierSpecs.forEach(function (modifierSpec) {
            modifierSpec.types.forEach(function (type) {
              // building the same structure as modifier but order
              modifierListByType[type].forEach(function (modifier) {
                if (!orderListByType[type]) {
                  orderListByType[type] = [new ModifierOrder(modifierSpec, modifier)]
                } else {
                  orderListByType[type].push(new ModifierOrder(modifierSpec, modifier))
                }
              })
            })
          })
          that.orderListByType = orderListByType
        })
      }
    },
    onRadioChange: function (modifierSpecTypes, currentOrder) {
      var that = this
      modifierSpecTypes.forEach(function (type) {
        that.orderListByType[type].forEach(function (order) {
          if (order.product.id !== currentOrder.product.id) {
            order.selection = ''
          }
        })
      })
    },
    addOrder: function () {
      var that = this
      var isValid = false

      this.base.modifierSpecs.some(function (modifierSpec) {
        isValid = false

        modifierSpec.types.some(function (type) {
          that.orderListByType[type].some(function (order) {
            isValid = order.isValid()
            if (isValid) {
              return true
            }
          })
          if (isValid) {
            return true
          }
        })

        if (!isValid) {
          window.alert(modifierSpec.name + ' is invalid')
          return true
        }
      })

      if (isValid) {
        this.onAddOrder(this.orderListByType)
      }
    },
    resetOrder: function () {
      for (var type in this.orderListByType) {
        this.orderListByType[type].forEach(function (order) {
          order.reset()
        })
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>
ul {
  list-style-type: none;
}

.menu-modifier-content {
  .buttons {
    height: 3rem;

    button {
      background-color: white;
      border: 1px solid #9e9e9e;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      height: 2.5rem;
      padding: 10px;
    }
  }
}

.modifier-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.modifier-item_selection {
  flex-basis: 10%;
}

.modifier-item_label {
  display: flex;
  flex-basis: 55%;
  flex-direction: row;

  .modifier-item-label_name {
    flex-basis: 80%;
  }

  .modifier-item-label_price {
    flex-basis: 20%;
  }
}

.modifier-item_portion {
  flex-basis: 35%;
  text-align: right;

  button {
    background-color: white;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    height: 1.5rem;
    line-height: 0.1;
    padding: 0px 7px 3px;
  }

  span {
    font-size: 1.2rem;
    vertical-align: middle;
    height: 1.5rem;
    line-height: 0.1;
    padding: 0px 7px 3px;
  }
}

@media (max-width: 768px) {
  .menu-modifier-content {
    .buttons {
      height: 4.5rem;

      button {
        background-color: white;
        border: 1px solid #9e9e9e;
        border-radius: 5px;
        cursor: pointer;
        font-size: 2rem;
        padding: 10px;
        width: 49%;
        height: 4rem;
      }
    }
  }

  .modifier-item {
    height: 3rem;
  }

  .modifier-item_selection {
    height: 2.5rem;

    input {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  .modifier-item_label {
    font-size: 2rem;
  }

  .modifier-item_portion {

    button {
      font-size: 1.5rem;
      height: 2rem;
      width: 3rem;
    }

    span {
      font-size: 1.8rem;
    }
  }
}

</style>
