<template>
  <div class="menu">
    <h1>{{title}}</h1>
    <div class="menu-content">
      <div class="menu-content_bases">
        <ul v-if="baseDrinks">
          <li v-on:click="pickItem(base)"
              v-for="base in baseDrinks" class="menu-item"
              v-bind:class="{ selected: activeBase && base.id === activeBase.id }">
            <span class="menu-name"><strong>{{ base.name }}</strong></span>
            <span class="menu-price">${{ base.price }}</span>
          </li>
        </ul>
      </div>
      <div class="menu-content_modifier">
        <drink-modifier
          v-if="activeBase"
          v-bind:base="activeBase"
          v-bind:onAddOrder="addOrder">
        </drink-modifier>
      </div>
    </div>
  </div>
</template>

<script>
import { default as BaseApi } from '../../apis/base.js'
import DrinkModifier from './DrinkModifier'
import { default as BaseProduct } from '../models/baseProduct'
import { default as DrinkOrder } from '../models/drinkOrder'

export default {
  name: 'drink-base-menu',
  props: ['onAddOrder'],
  components: {
    DrinkModifier
  },
  data () {
    return {
      title: 'Chaang Cafe Menu',
      baseApi: new BaseApi(),
      baseDrinks: [],
      activeBase: null
    }
  },
  mounted () {
    this.fetchBases()
  },
  methods: {
    reset: function () {
      this.fetchBases()
      this.activeBase = null
    },
    fetchBases: function () {
      var that = this
      this.baseApi.getAll(function (bases) {
        that.baseDrinks = bases
      })
    },
    pickItem: function (base) {
      this.activeBase = base
    },
    addOrder: function (modifierOrderListByType) {
      var drinkOrder = new DrinkOrder({
        isRequired: true,
        name: this.activeBase.name
      }, new BaseProduct(this.activeBase), modifierOrderListByType)
      this.onAddOrder(drinkOrder)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 5px 5px;

  &:hover, &.selected {
    background-color: #dadada;
  }

  .menu-name {
    flex-basis: 90%;
  }

  .menu-price {
    flex-basis: 10%;
    text-align: right;
  }
}

.menu {
  padding: 20px;
}

.menu-content {
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
}

.menu-content_bases {
  border-right: 1px solid #e0e0e0;
  flex-basis: 40%;
  padding-right: 20px;
}

.menu-content_modifier {
  flex-basis: 60%;
  padding: 15px 20px 20px 20px;
}

@media (max-width: 768px) {
  .menu-item {
    height: 4rem;
    line-height: 3;
    font-size: 1.5rem;
  }

  .menu-content {
    border: none;
    display: block;
    width: 100%;
  }

  .menu-content_bases {
    display: block;
    width: 100%;
    border: none;
    padding: 20px 0 0 0;
  }

  .menu-content_modifier {
    display: block;
    padding: 0;
    padding-top: 20px;
    width: 100%;
  }
}
</style>
