<template>
  <div id="app">
    <div class="logo">
      <span><img width="100px" height="100px" style="transform: scaleX(-1)" src="./assets/chaang_cute.jpg"></span>
      <span><img height="100px" src="./assets/colorful_coffee_beans.jpg"></span>
      <span><img width="100px" height="100px" src="./assets/chaang_cute.jpg"></span>
    </div>
    <div class="pos-main">
      <div class="pos-menu">
        <drink-base-menu ref="drinkBase" v-bind:onAddOrder="addOrder"></drink-base-menu>
      </div>
      <div class="pos-order">
        <drink-orders
          v-bind:orders="orderList"
          v-bind:onCancel="cancel"
          v-bind:onFinalize="finalize"></drink-orders>
      </div>
    </div>
  </div>
</template>

<script>
import DrinkBaseMenu from './components/menu/DrinkBaseMenu'
import DrinkOrders from './components/order/DrinkOrders'
import { default as OrderApi } from './apis/order.js'

export default {
  name: 'app',
  components: {
    DrinkBaseMenu,
    DrinkOrders
  },
  data () {
    return {
      orderList: [],
      orderApi: new OrderApi()
    }
  },
  methods: {
    addOrder: function (order) {
      this.orderList.push(order)
    },
    finalize: function () {
      var that = this
      window.alert('Order is in progress....')
      this.orderApi.submit(function () {
        window.alert('Order has been successfully submitted.')
        that.orderList = []
        that.$refs.drinkBase.reset()
      }, this.orderList)
    },
    cancel: function () {
      window.alert('Order has been cancelled.')
      this.orderList = []
      this.$refs.drinkBase.reset()
    }
  }
}
</script>

<style lang="less" scoped>
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  min-width: 590px;
}

.logo {
  text-align: center;

  span {
    display: inline-block;
    position: relative
  }
}

.pos-main {
  display: flex;
  flex-direction: row;

  .pos-menu {
    flex-basis: 70%;
  }

  .pos-order {
    flex-basis: 30%;
  }
}

@media (max-width: 768px) {
  .pos-main {
    display: block;
    width: 100%;

    .pos-menu {
      display: block;
      width: 100%;
    }

    .pos-order {
      display: block;
      width: 100%;
    }
  }
}
</style>
